
.card > img {
  height: 25vh;
  border-style: solid;
  border-radius: 10px;
  border-width: 0.4vh;
  border-color: #f5f5f5;
}
.card {
  cursor: pointer;
}
.selected {
  border-color: coral !important;
}
